* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	background: #08070c;
	color: whitesmoke;
}

.title {
    margin: 20px;
    font-size: 60px;
    align-items: center;
    text-align: center;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto 100px auto;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
}

.contenedor .pelicula {
	text-align: center;
}

.contenedor .pelicula .titulo {
	font-size: 16px;
	font-weight: 600;
}

.contenedor .pelicula .poster {
	width: 100%;
	margin-bottom: 10px;
	border-radius: 12px;
}

.paginacion {
	position: fixed;
	bottom: 0;
	background: #1c4be6;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 10px;
    
}

.paginacion button {
	cursor: pointer;
	border: 5px, 5px, 10px, 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 40px;
	width: 250px;
	background: #091ab8;
	color: #fff;
	border-radius: 100px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	transition: .3s ease all;
}

.paginacion button:hover {
	background: #ffff;
    color: rgb(34, 13, 228);
    font-size: 16px;
}

@media screen and (max-width: 1920px){

    .title{
        font-size: 60px;
    }
}
@media screen and (max-width: 1280px){

    .title{
        font-size: 50px;
    }
}
@media screen and (max-width: 800px){

    .title{
        font-size: 30px;
    }
}
@media screen and (max-width: 480px){

    .title{
        font-size: 15px;
    }
}